*.pdf
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.el
*.rubbercache

cours/*.nav
cours/*.out
cours/*.snm
cours/*.toc
cours/*.dvi
cours/*.ps

cours/git.hash

td/1/git.hash

cours/_minted-chapitre-2/*

sources/*
sandbox/*

.DS_Store
